{% extends "base.html" %}
{% load static %}
{% block title %}
<title> This is Home Page </title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="container text-center">
            <div class="row mt-5">
              <div class="col-lg-4 ">
                <img src="{% static 'images/notes.jpg' %}" alt="notes" class="rounded-lg shadow" height="250" width="300" >
              </div>
              <div class="col-lg-4">
                <img src="{% static 'images/logo.png' %}" alt="notes" class="rounded-lg shadow" height="250" width="300">
              </div>
              <div class="col-lg-4">
                <img src="{% static 'images/notes.jpg' %}" alt="notes" class="rounded-lg shadow" height="250" width="300">
              </div>
            </div>
          </div>
          <div class=" row mt-5">
            <div class="col-md-10 offset-md-1">        
              <center><p class="h2 text-primary mb-5">Get started with Bootstrap</p></center>
              <center><p class="h3">the world’s most popular framework for building responsive</p></center>
              <center><p class="h5">mobile-first sites, with jsDelivr and a template starter page.</p></center>
              <center><a href="{% url 'todolist' %}">
                <button type="button" class="btn btn-primary btn-lg mt-1 mb-5 rounded-lg shadow-lg">
                  Let's Get Start
                </button></a>
              </center>
          </div>

          </div>
    </div>
{% endblock content %}